.video-game-search-label {
  margin: 1rem;
  margin-top: 0.5rem;
  color: white;
  font-family: 'Work Sans', sans-serif;
}
#game-name {
  margin: 1rem;
  border-radius: 12px;
  display: 'legacy';
}

.video-game-submit-button {
  font-family: 'Work Sans', sans-serif;
  border: 0;
  display: 'legacy';
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  background-color: white;
  padding: 8px 12px;
  color: #6d6ca6;
}
.video-game-submit-button:active {
  background: #1aaa67;
  -webkit-box-shadow: inset 0px 0px 5px #1232e9;
     -moz-box-shadow: inset 0px 0px 5px #db1919;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}
.video-game-submit-button:hover {
  background-color:#8419db;
}
.game-card {
  background-color: #1d3b61;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 600px;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 5%;
}

.game-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.game-container {
  padding: 3px 10px;

}

.text {
  color: azure;
}
.game-title {
  color: rgb(244, 247, 224);
  text-decoration: underline;
}
.subscribe-button:active {
  background: #1aaa67;
  -webkit-box-shadow: inset 0px 0px 5px #1232e9;
     -moz-box-shadow: inset 0px 0px 5px #db1919;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}
.subscribe-button:hover {
  background-color:#8419db;
}
.video-game-image {
  max-width: 100%;
  height: auto;
}
.unsubscribe-button:active {
    background: #8419db;
  -webkit-box-shadow: inset 0px 0px 5px #1232e9;
     -moz-box-shadow: inset 0px 0px 5px #db1919;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}
.unsubscribe-button:hover {
  background-color: #1aaa67;
}